html {
    box-sizing: border-box;
}
   
*, *::before, *::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */

li {
    list-style-type: none;
    flex: 1;

}

a {
    text-decoration: none;
    color: inherit; 
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}

.header ul {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-weight: 700;
}

.right-links {
    display: flex;
    gap: 20px;
}

.logo {
    margin-right: auto;
}

/* HERO SECTION */

img {
    border: 2px solid white;
    border-radius: 8px;
}

button {
    background-color: skyblue;
    border-style: none;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}


.hero-section {
    display: flex;
    padding: 10vh 20vw 10vh 20vw;
    gap: 20px;
    justify-content: center;
}

.hero-section img {
    flex: 1;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up-btn {

}

/* GRID CONTENT*/

.grid-content {
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.grid-tile-container {
    display: flex;
    padding: 40px 20vw 5vh 20vw;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    align-items: center ;
    flex: 1;
}

.tile-img {
    border: 2px solid #3882F6;
    border-radius: 8px;
    flex: 1 1 auto;
    height: 120px;
    width: 120px;
    color: #3882F6;
}

/* QUOTE SECTION */

.quote-section {
    background-color: rgb(233, 233, 233);
    color: black;
    padding: 40px 20vw 5vh 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    font-size: x-large;
    font-weight: lighter;
}

.author{
    font-weight: bold;
    flex: 1;
    align-self: flex-end;
}

/* CALL TO ACTION */
.call-to-action {
    display: flex;
    padding: 40px 10vw 5vh 10vw;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.call-to-action-container {
    display: flex;
    background-color: #3882F6;
    padding: 3vh 10vw 3vh 10vw;
    border-radius: 8px;
    gap: 20px;
    justify-content: space-between;
}

.call-to-action-content {
    justify-self: flex-start;
    font-size: smaller;
}

.call-to-action-btn {
    border: 2px solid white;
    flex: 1 0 0;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 3vh 3vw 3vh 3vw;
}
